body {
  padding: 5px 15px 5px 15px;
  margin: 5px;
}

.navbar-custom {
  background-color: #b2bec4;
  border-color: #9faeb6;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#cfd6da), to(#b2bec4));
  background-image: -webkit-linear-gradient(top, #cfd6da, 0%, #b2bec4, 100%);
  background-image: -moz-linear-gradient(top, #cfd6da 0%, #b2bec4 100%);
  background-image: linear-gradient(to bottom, #cfd6da 0%, #b2bec4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcfd6da', endColorstr='#ffb2bec4', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #423e3e;

}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #282525;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #423e3e;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #9faeb6;
}
.navbar-custom .navbar-nav > li > a {
  color: #423e3e;
  border-left: 1px solid #9faeb6;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #9faeb6;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#9faeb6), to(#bcc7cc));
  background-image: -webkit-linear-gradient(top, #9faeb6, 0%, #bcc7cc, 100%);
  background-image: -moz-linear-gradient(top, #9faeb6 0%, #bcc7cc 100%);
  background-image: linear-gradient(to bottom, #9faeb6 0%, #bcc7cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9faeb6', endColorstr='#ffbcc7cc', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #9eadb5;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #9faeb6;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #423e3e;
  border-bottom-color: #423e3e;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #423e3e;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #9faeb6;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #423e3e;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}

.form-inputs {
  width: 250px;
}
