.navbar-custom {
  margin: 0px 0px 0px 0px;
  background-color: #eeeeee;;
  border-color: #9faeb6;
  filter: none;
  border: none;
}

.jumbotron p {
  margin-bottom: 0px;
}

// .btn .btn-primary {
//
// }
